// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"


.c-events-item {
  h1 {
    padding-left: 10px
    margin-bottom 0
  }
  &__time, &__location {
    width: 70%;
    float: right;
    h2 {
      width: auto;
      margin-right: 5px;
    }
    time {
      width: auto;
    }
    address {
      width: auto;
    }
  }
  /* PARENT OVVERIDES */
}
