<article class="c-events-item">
    {% include '../c-calendar-icon/view.njk' %}
    <h1><a href="{{ context.url }}">{{ context.title }}</a></h1>
    {% if (context.time !== "") %}
      <div class="c-events-item__time">
        <h2>Time:</h2>
        <time>{{ context.time }}</time>
      </div>
    {% endif %}
    {% if (context.location !== "") %}
      <div class="c-events-item__location">
        <h2>Location:</h2>
        <address>{{ context.location }}</address>
      </div>
    {% endif %}
</article>
