<article class="c-events-item">
    <% include ../components/c-calendar-icon/view %>
    <h1><a href="http://link.com">Tryouts today (totally not a vampire thing)</a></h1>
    <div class="c-events-item__time">
      <h2>Today</h2>
      <time>Witching hour</time>
    </div>
    <div class="c-events-item__location">
      <h2>Location:</h2>
      <address>The suspicous looking graveyard by the school.</address>
    </div>
</article>
