// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"


.c-logo-bar {
  position: relative;
  padding: $spacing*3 $spacing $spacing;
  &__title {
    width: 55%;
    float:left;
    ff-title()
    color: $dark
    font-size $crust;
    margin-right: $spacing*2
    padding-left: $spacing*2;
    border-left: 20px solid $hmcts_primary;
  }

   &__nav {
     position: absolute;
     top: 50%;
     right: 0;
     margin-top -($spacing*2)
     a:first-of-type:after {
       content: "|"
       color $dark
       padding: 0 $spacing;
     }
   }

   a {
     cursor pointer
   }

   a span {
     display none
   }
}
