// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"


.c-logo-bar {
  position: relative;
  padding: $spacing;
  +above(m) {
    padding: $spacing*3 $spacing $spacing;
  }

  &__title {
    .menu-active & {
      position relative
      top: $spacing
      z-index 10000
      font-size: $outerCore
      margin-right: $spacing
      padding-left: $spacing
      border-left: 10px solid;
    }
    display block
    width: 82%;
    +above(m) {
      width: 55%;
      float:left;
    }
    
    
    ff-title()
    color: $dark
    font-size $crust;
    margin-right: $spacing*2
    padding-left: $spacing*2;
    border-left: 20px solid;
    .agency-hq &,
    .agency-hmpps &,
    .agency-jac &,
    .agency-ospt &,
    .agency-lc &,
    .agency-cica & {
      border-color: $primary;
    }
    .agency-hmcts & {
      border-color: $hmcts_primary;
    }
    .agency-laa & {
      border-color: $laa_primary;
    }
    .agency-opg & {
      border-color: $opg_primary;
    }
    .agency-pb & {
      border-color: $pb_primary;
    }
    
  }

   &__nav {
     position: absolute;
     top: 50%;
     right: 0;
     margin-top -($spacing*2)
     a:first-of-type:after {
       content: "|"
       color $dark
       padding: 0 $spacing;
     }
   }

   a {
     cursor pointer
   }

   a span {
     display none
   }
}
