<section class="c-logo-bar">
  <div class="u-wrapper">
    <a href="/" rel="home">
      <img src="static/images/logo.jpg" alt="MOJ Logo"><span>HQ</span>
    </a>
    <nav class="c-logo-bar__switch">
      <a href="/agency-switcher">Contacts</a> |
      <a href="/agency-switcher">Guidance</a> |
      <a href="/agency-switcher">Switch intranet</a>
    </nav>
  </div>
</section>
