<section class="c-logo-bar">
  <div class="u-wrapper">
    <a class="c-logo-bar__title" href="/" rel="home">
      {{ agency.fullName }}
    </a>
    {% include '../c-search-bar/view.njk' %}
  </div>
</section>
