// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-main-nav-bar {
  width: 100%;
  position absolute
  top: 0;
  left: 0;
  z-index: 9999;
  +above(m) {
    position: static;
  }
  margin-bottom $spacing*2
  &__menu-button {
    position: absolute
    top: $spacing*2;
    right: $spacing;
    display block
    font-size: $smallCopy;
    .u-icon {
      vertical-align: middle
      font-size: $mantle;
      margin-left: $spacing*.5;
    }
    +above(m) {
      display: none;
    }
  }

  .menu-active & {
    background: $light;
    ul {
      display: table;
      padding-top: $spacing*9;
    }
    li {
      border: 0;
      a { 
        border-bottom: 1px solid $border;
      }
      &:first-of-type {
        border-top: 1px solid $border;
      }
    }
  }

  ul {
    border-top  1px solid lighten($border, 60%)
    border-bottom  1px solid lighten($border, 60%)
    width: 100%;
    display none
    +above(m) {
      display table
    }
  }

  li {
    position relative
    +above(m) {
      border-bottom: 0;
      display: table-cell;
      margin-bottom: -1px;
      border-right: 1px solid rgba($dark, 5%)
      
      &:last-of-type {
        border-right: 0
        a:after {
          padding-left $spacing
          use-icon("\f078")
        }
      }

      nav {
        display block
        width: 400px;
        overflow hidden
        max-height 0;
        position: absolute;
        right:0;
        z-index 999
        background-color $light
        transition .3s max-height ease-in-out
        
        span {
           .agency-hq &,
          .agency-hmpps &,
          .agency-jac &,
          .agency-ospt &,
          .agency-lc &,
          .agency-cica & {
            background-color rgba($primary, 30%)
          }
          .agency-hmcts & {
            background-color rgba($hmcts_primary, 30%)
          }
          .agency-laa & {
            background-color rgba($laa_primary, 30%)
          }
          .agency-pb & {
            background-color rgba($pb_primary, 30%)
          }
          .agency-opg & {
            background-color rgba($opg_primary, 30%)
          }
          display block
          padding: $spacing;
          font-weight bold
        }

        li {
          display block 
          a {
            text-align left
            padding-left: $spacing*2
            &:after {
              display none
            }
            &:hover {
                .agency-hq &,
                .agency-hmpps &,
                .agency-jac &,
                .agency-ospt &,
                .agency-lc &,
                .agency-cica & {
                  background-color rgba($primary, 20%)
                }
                .agency-hmcts & {
                  background-color rgba($hmcts_primary, 20%)
                }
                .agency-laa & {
                  background-color rgba($laa_primary, 20%)
                }
                .agency-pb & {
                  background-color rgba($pb_primary, 20%)
                }
                .agency-opg & {
                  background-color rgba($opg_primary, 20%)
                }
            }
          }
        }
      }
    }

    &.open {
      nav {
        max-height 1800px;
        height: auto;
        border-bottom  1px solid lighten($border, 60%)
        transition .8s max-height ease-in-out
      }
    }

    &.current {
      background-color: $light;
      a:hover, a:focus {
        background-color: $light;
        text-decoration: none;
      }
    }
    &:last-of-type {
      a {
         .agency-hq &,
        .agency-hmpps &,
        .agency-jac &,
        .agency-ospt &,
        .agency-lc &,
        .agency-cica & {
          background-color rgba($primary, 8%)
        }
        .agency-hmcts & {
          background-color saturation(lighten($hmcts_primary, 85%), 40%)
        }
        .agency-laa & {
          background-color rgba($laa_primary, 8%)
        }
        .agency-pb & {
          background-color rgba($pb_primary, 8%)
        }
        .agency-opg & {
          background-color rgba($opg_primary, 8%)
        }
      }
    }
  }

  a {
    display: block;
    text-align: center;
    padding: $spacing $spacing*2;
    color: $text;
    text-decoration: none;
    font-weight: bold;

  

    &:hover {
      background-color: lighten($boxBg, 15%);
    }
    &:focus {
      outline: 0;
      border-color: $border;
    }
  }
}
