<nav class="c-main-nav-bar js-main-nav-bar">
  <div class="u-wrapper">
    <span class="c-main-nav-bar__menu-button">Menu<span class="u-icon u-icon--menu-down"></span></span>
    <ul>
      {# Loop through navigation and show the links #}
      {% for item in navigation.item %}
        {% if(item.agencies == "all") or (item.agencies == agency.shortcode) %}
          <li><a href="{{item.url}}?agency={{agency.shortcode | lower}}">{{item.label}}</a></li>
        {% endif %}
      {% endfor %}
      <li>
        <a href="">Change intranet</a>
        {% include "../c-intranet-switcher/view.njk" %}
      </li>
    </ul>
  </div>
</nav>
