<nav class="c-main-nav-bar">
  <div class="u-wrapper">
    <ul>
      {# Loop through navigation and show the links #}
      {% for item in globalNavigation.item %}
        <li><a href="{{item.url}}">{{item.label}}</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
