<footer class="c-footer">
  <div class="u-wrapper">
    <div class="l-primary">
      {% include "../c-feedback-container/view.njk" %}
      {% include "../c-footer-nav/view.njk" %}
    </div>
    <div class="l-secondary">
      {% include "../c-copyright-notice/view.njk" %}
  </div>
</footer>
<script src="static/vendors/nunjucks.min.js" charset="utf-8"></script>
<script src="static/vendors/js.cookie.js" charset="utf-8"></script>
<script src="static/js/core.min.js" charset="utf-8"></script>
</body>
</html>
