<footer class="c-footer">
  <div class="u-wrapper">
    <div class="l-primary">
      {% include "/components/c-feedback-container/view.njk" ignore missing %}
      {% include "/components/c-footer-nav/view.njk" ignore missing %}
    </div>
    <div class="l-secondary">
      {% include "/components/c-copyright-notice/view.njk" ignore missing %}
  </div>
</footer>
<script src="/dist/static/js/core.min.js" charset="utf-8"></script>
</body>
</html>
