<footer class="c-footer">
  <div class="u-wrapper">
    <div class="l-primary">
      {% include "../c-feedback-container/view.njk" %}
      {% include "../c-footer-nav/view.njk" %}
    </div>
    <div class="l-secondary">
      {% include "../c-copyright-notice/view.njk" %}
  </div>
</footer>
<script src="static/js/core.min.js" charset="utf-8"></script>
{# As this prototype doesn't have a database of it's own, we need to add some JSON data here to allow interactivity #}
<script>
  var agencies = [
    {% for agency in agencies %}
      {
        "fullName" : "{{ agency.fullName }}",
        "shortcode" : "{{ agency.shortcode }}",
        "knownAs" : " {{ agency.knownAs }}",
        "current" : {{ agency.current }}
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
</script>
</body>
</html>
