<nav class="c-intranet-switcher js-intranet-switcher">
    <span>Switch to another intranet</span>
    <ul>
        {% for agency in agencies %}
            <li data-agency="{{ agency.shortcode }}"><a href="?agency={{ agency.shortcode }}">{{ agency.fullName }}</a></li>
        {% endfor %}
    </ul>
</nav>
