<section class="c-need-to-know-widget js-need-to-know-widget" role="marquee">
    {% for slide in needToKnow %}
        <div class="c-need-to-know-widget__slide js-slide">
            <a href="{{ slide.url }}">
                <img src="{{ slide.imgSrc }}" alt="{{ slide.imgAlt }}">
                <div>
                    <p>
                        {{ slide.title }}
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}
</section>

