
// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-polls {
  margin-bottom $spacing*3
  label {
    display: block;
  }
  input { 
    margin-right: $spacing;
  }
  &__buttons {
    margin-top: $spacing*2;
  }
}