<section class="c-polls">
  <h1 class="o-title o-title--section">Poll</h1>
  <p>What's your favourite colour</p>
  <p>Everyone has a favourite colour, what's yours? Answers below.</p>
  <p>Poll will close in 4 days. <strong>57 votes so far</strong></p>
  <form action="">
    <label><input type="radio" name="option" id="" value="Red" />Red</label>
    <label><input type="radio" name="option" id="" value="Green" />Green</label>
    <label><input type="radio" name="option" id="" value="Blue" />Blue</label>
    <div class="c-polls__buttons">
      <button class="o-button">Submit</button>
      <button class="o-text-button">View results</button>
    </div>
  </form>
</section>
