/*
  @Component: Search bar
  @Creator: Alex Foxleigh
  @Description: Lives in the header-container component and contains the main search bar for the site
*/

// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-search-bar {
  clearfix();
  +above(m) {
    width: 33%;
    height: auto;
    float:right;
    padding: 0 0 $spacing*2 0;
  }

  input {
    position: relative;
    span(1);
    height: $spacing*3.6;
    padding: $spacing*2
    padding-right: $spacing*5;
    background: lighten($boxBg, 50%)
    &:focus {
      outline: 0;
      background: saturation(lighten($primary, 80%), 40%)
      
      .agency-hmcts & {
        background: saturation(lighten($hmcts_primary, 80%), 40%)
      }
      .agency-laa & {
        background: saturation(lighten($laa_primary, 80%), 40%)
      }
      .agency-opg & {
        background: saturation(lighten($opg_primary, 80%), 40%)
      }
      .agency-pb & {
        background: saturation(lighten($pb_primary, 80%), 40%)
      }
    }
  }

  button {
    position: absolute;
    right:0;
    font-size $mantle
    padding: $spacing*.8
    background-color: $primary;
    color: $light;
    span {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  // PARENT OVERRIDES
  .c-header-container & {
    //background-color: $primary;
    padding: 0
    margin: $spacing 0;
    +above(m) {
      margin-bottom $spacing*3
    }
    
    button {
      background-color: darken($boxBg, 30%);
    
      &:hover {
        background-color $primary;
        .agency-opg & {
          background-color: $opg_primary;
        }
        .agency-laa & {
          background-color: $laa_primary;
        }
        .agency-hmcts & {
          background-color: $hmcts_primary;
        }
        .agency-pb & {
          background-color: $pb_primary;
        }
      }
    }
  }

}
