<section class="c-search-bar">
  <form action="#search" id="sf">
    <div class="c-search-bar__container">
      <label for="sf_search" class="u-visually-hidden">Search {{agency.knownAs}} Intranet</label>
      <input type="text" name="sf_search" id="sf_search" value="" placeholder="Search {{agency.knownAs}} Intranet">
      <button type="submit" class="u-icon u-icon--search"><span>Go</span></button>
    </div>
  </form>
</section>
