// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-article-excerpt {

  p {
    ff-body()
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: $outerCore;
  }

// Parent overrides

  .c-article-item & {
    p {
      font-size: $smallCopy;
    }
  }
  .c-news-article & {
    p {
      font-weight bold
    }
  }
   .c-news-list & {
     display: none;
   }
}
