<!-- c-full-width-banner starts here -->
<section class="c-full-width-banner">
  <a href="http://url.com">
      <img src="http://stupid-tees.co.uk/image/cache/data/product-images/V/VOTE_PEDRO_RINGER-close-600x600.jpg" alt="Image Alt Tag">
  </a>
</section>
<!-- c-full-width-banner ends here -->
