// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-breadcrumbs {
 margin: $spacing*2 0;
 
 li { 
   display: inline-block;
   text-transform capitalize
   margin-right: $spacing*.5;
 }
 span {
   display inline-block
   margin-left: $spacing;
   font-size: $outerCore;
   vertical-align: top;
 }
}
