<!-- c-breadcrumbs starts here -->
<section class="c-breadcrumbs">
 <ul>
   {% for crumb in breadcrumbs %}
    {% if crumb.url %}
      <li><a href="{{ crumb.url }}">{{ crumb.name }}</a><span class="u-icon u-icon--angle-right"></span></li>
    {% else %}
      <li>{{ crumb.name }}</li>
    {% endif %}
   {% endfor %}
 </ul>
</section>
<!-- c-breadcrumbs ends here -->
