// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-article-meta {
  padding-bottom: $spacing*2;
  margin-bottom: $spacing*2;
  border-bottom 1px dotted rgba($border, .5);
}

