<!-- c-article-meta starts here -->
<section class="c-article-meta">
  {% include '../c-article-featured-image/view.njk' %}
  <h1 class="o-title o-title--headline">{{context.title}}</h1>
  {% include '../c-article-exceprt/view.njk' %}
  {% include '../c-article-dateline/view.njk' %}
  <span class="o-spacer">|</span>
  {% include '../c-article-category/view.njk' %}
</section>
<!-- c-article-meta ends here -->
