// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit"

.c-app-list {
  ieoldcf();
  li {
    float:left;
    width: 45%;
  }
  .u-icon {
    float: left;
  }
  &__app-name {
    float:left;
    width: 60%;
  }
}
