// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-app-list {
  clearfix();
  margin-bottom: $spacing;
  padding: $spacing;
  padding-bottom: 0;
  background: $primary;

  li {
    column(1/2, $cycle: 2);
    margin-bottom: $spacing;
  }

  a {
    display: block;
    color: $light;
    text-decoration: none;

    &:hover {
      .u-icon {
        background-color: $light;
      }
      span+span {
        text-decoration underline
      }
    }

  }

  &__app-name {
    display: inline-block;
    font-size: $smallCopy;
    width: 70%;
    vertical-align: middle;
  }

  .u-icon {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $border;
    padding: $spacing*.3;
    margin-right: $spacing;
    font-size: $mantle;
    color: $primary;
    background: $light;
  }
}
