<ul class="c-app-list">
   {% for link in appList %}
  <li>
      <a href="{{ link.url }}" title="{{ link.title }}"><span class='u-icon u-icon--{{ link.class }}'></span><span class="c-app-list__app-name">{{ link.title }}</span></a>
  </li>
  {% endfor %}
</ul>
