<section class="c-events-widget">
  <h1 class="o-title o-title--section">Events this week</h1>
  {% include '../c-events-list/view.njk' %}
  <a href="/events/" class="o-see-all-link">See all events</a>
</section>
