<section class="c-events-widget">
  <h1 class="o-title o-title--section">Events</h1>
  <% include ../components/c-events-list/view %>
  <a href="/events/" class="o-see-all-link">See all events</a>
</section>
