// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-quick-links {
  padding: $spacing;
  height: 100%;
  background: #d0d0d0
  .agency-hmcts & {
    column(1/3, $cycle: 2)
    a {
      color: darken($hmcts_primary, 20%);
    }
    li {
      column(1, $cycle: 1)
      margin-bottom $spacing*.5
    }
    background: lighten($hmcts_primary, 60%);
  }
  .agency-opg & {
    a {
      color: darken($opg_primary, 20%);
    }
    background: saturation(lighten($opg_primary, 80%), 30%);
  }
  .agency-laa & {
    a {
      color: darken($laa_primary, 20%);
    }
    background: lighten($laa_primary, 80%);
  }
  .agency-pb & {
    a {
      color: darken($pb_primary, 20%);
    }
    background: lighten($pb_primary, 80%);
  }
  column(2/3, $cycle: 2)
  h1 {   
    font-size: $innerCore;
  }
  li {
    margin-bottom $spacing*1.5
    column(1/2, $cycle: 2)
  }
  a {
    font-weight bold
  }
}
