<section class="c-quick-links">
  <h1 class="o-title o-title--section">{{agency.knownAs}} tools and services</h1>
  <ul>
    {% for link in quickLinks %}
      {% if(link.agencies == "all") or (link.agencies == agency.shortcode) %}
        <li><a href="{{ link.url }}"> {{ link.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>