// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-rich-text-block {
  cmsfixes()

  h2,
  h3,
  h4,
  h5,
  h6 {
    ff-title();
    margin-bottom: $spacing;
  }

  h1 {
      ff-title()
      font-size: $crust;
    // Style guide error messages. On hold for now.
    // font-weight: bold;
    // background-color: rgba(red, 3%);
    // border: 1px dotted darken(red, 20%)
    // margin-bottom: $spacing;
    // padding: $spacing
    // &:before {
    //   content: "Style guide error:"
    //   text-transform: uppercase;
    //   margin-bottom: $spacing;
    //   border-bottom: 1px dashed darken(red, 20%)
    // }
    // &:after {
    //   margin-top: $spacing;
    //   font-weight: normal;
    //   border-top: 1px dashed darken(red, 20%)
    //   content:"Please do not use a H1 element inside an article as this is the title. Please use H2 instead"
    // }
    // &:before,
    // &:after {
    //   text-align: center;
    //   font-size: $outerCore;
    //   padding: $spacing;
    //   color: red;
    //   display: block;
    //   background-color: rgba(red, 10%);
    // }
  }

  h2 {
    font-size: $mantle;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: $outerCore;
  }

  p, code, pre {
    ff-body()
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: $outerCore;
    line-height: 2
  }

  blockquote, q {
    margin: $spacing*3;
    background-color: rgba($primary, 10%);
    padding: $spacing*4
    &:before {
      use-icon("\e977");
    }
    footer {
     border-top: 1px dotted rgba($dark, 50%);
     padding-top $spacing*2;
    }
    p {
      margin-bottom 0
    }
  }

  q {
    padding: $spacing;
    margin: auto;
  }

  a {
    &[href^="mailto:"]:after {
      // Add icons here
    }
    &:[rel^="external"]:after {
      // Add icons here
    }
  }

  ul, ol {
    real-list()
    margin-bottom: $spacing*2;
    font-size: $outerCore;
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  dl {
    font-size: $outerCore;
    margin-bottom: $spacing*2;
  }

  dd, dt {
    margin-bottom: $spacing;
  }

  dt {
    ff-title()
    padding: $spacing*.5
    background-color: rgba($primary, 20%);
  }

  dd {
    padding: $spacing*2;
  }

  table {
    font-size: $outerCore;
    margin-bottom: $spacing*2;
    width: 100%;

    caption {
      font-style: italic;
      margin: $spacing 0;
      caption-side: bottom;
      font-size: $bodyCopy;
    }

    thead {
      background-color $primary;
      color: $light;
    }

    th {
      ff-title()
      text-align center
      background-color: rgba($dark, 5%)
    }

    th, td {
      padding: $spacing;
      //border-bottom: 1px solid $border;
    }

    tr:nth-child(even) {
      th {
        background-color: rgba($primary, 20%)
      }
      td {
        background-color: rgba($primary, 10%)
      }
      
    }

  // Responsive tables are a nightmare so use of +below is justified here
  +below(m) {
    table, thead, tbody, th, tr, td {
      display: block;
    }

    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      &:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
      }
    }
  }

  }

  .highlight {
    color: darken(#e9fc4d, 60%);
    background-color: rgba(#e9fc4d, 60%);
    padding: 0 3px;
  }

  // PARENT OVERRIDES

  .c-individual-nested-comments &  {
    p, code, pre, li {
      font-size: $bodyCopy;
    }
  }
}
