// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit";

//FIXME: There are multiple components being styled here and not all are parent overrides, this should be fixed before porting to clarity.

.c-article-item {
    clearfix();
    overflow hidden
    border-bottom: 0;
    widget(0)
    +above(m) {
      display: table;
    }

    h1 {
      font-size $outerCore
      a {
        color $primary;
      }
    }

    &__meta {
      margin-top: $spacing;
      a:hover { 
        text-decoration underline
       }
    }

    &__dateline {
      font-size: $smallCopy;
      color: $dark;
    }

    // TODO: Refactor into it's own component
    .c-categories {
      margin-top $spacing*1
      li {
        display inline
        text-transform: capitalize;
        span {
          padding: 0 $spacing*.5
        }
      }
    }

  > img {
    +above(m) {
      display: table-cell
    }
    height: 100%;
    width: 100%;
  }

  &__content {
    position relative
    vertical-align: top
    padding: $spacing*   $spacing*1.5 $spacing;
    +above(m) {
      width: 50%;
      display: table-cell;
    }
  }

  h1 {
    ff-title();
  }

  // If it is a blog type
  &--blogs {
    h1 {
      &:before {
        use-icon("\e977")
        padding-right: $spacing;
        color: lighten($dark, 40%)
      }
    }
    &__excerpt {
      display: none;
    }
  }


/*
  PARENT OVERRIDES
*/

  // Featured news
  .c-featured-news-list & {
    +above('s') {
      &.article-1-of-2,
      &.article-1-of-3 {
        column(1); 
        h1 {
          font-size: $mantle;
        }  
      }
      &.article-1-of-2,
      &.article-2-of-2,
      &.article-2-of-3,
      &.article-3-of-3 {
        column(1/2, $gutter: $spacing*2)
        > img, 
        .c-article-item__content {
          stack();
          min-height: $spacing*16.5
        }
        >img {
          height: 236px; // Height locked for demo
        }
      }
      &__dateline {
        display none
      }
    }
  }

  // Regular news
  .c-news-list & {
    clearfix();
    h1 {
      font-size: $innerCore;
      line-height 1.2
      margin-bottom $spacing*1.3
    }

    +above('s') {
      column(1/2, $cycle: 2, $gutter: $spacing*2);
    }
    img {
      width: 50%;
      +above(m) {
        width 100%;
      }
    }

    &__content {
      padding-bottom: $spacing*.5
      width: 50%;
      float: right;
      +above(m) {
        float: none;
      }
    }
    &__meta {
      position relative
    }

     
    .c-article-interactions,
    .c-article-byline,
    .c-categories {
      display none
    }
  }

  .c-blog-feed & {
    +above('s') {
      column(1/2, $cycle: 2)
    }
    +above(m) {
      h1 {
        padding-bottom $spacing
      }
      column(1, $cycle: 1)
      >img {
        display none
      }
      &__content {
        span(1)
      }
      .c-categories {
        display none
      }
    }
  }

  // If the excerpt has been output, hide it on the blog summary component
  

}
