// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_ietoolkit";

.c-article-item {
  ieoldcf();
/*
  PARENT OVERRIDES
*/

  // Featured news
  .c-featured-news-list & {
     &.article-1-of-2,
      &.article-1-of-3 {
        width: 100%;
        float: none;
        h1 {
          font-size: $mantle;
        }  
      }
      &.article-1-of-2,
      &.article-2-of-3 {
        width: 48.5%;
        float: left;
        margin-right: 1%;
        > img, 
        .c-article-item__content {
          stack();
          height: $spacing*16.5
        }
        >img {
          height: 240px; 
        }
      }
      &.article-2-of-2,
      &.article-3-of-3 {
        float: right;
        margin-right: 0;
      }
  }

  // Regular news
  .c-news-list & {
    ieoldcf();
    width: 48.5%;
    float:left;
    img {
      width: 30%;
      float:left;
    }
    &:nth-child(even) {
     margin-right: 0;
     float:right;
    }
  }

  // Blog feed
  .c-blog-feed & {
    ieoldcf();
    img {
      width: 20%;
      float:left;
    }
  }
}
