
<article class="c-article-item js-article-item">
  {% if (context.imgSrc !== "") %}
    <img src="{{ context.imgSrc }}" alt="{{ context.imgAlt }}">
  {% endif %}
    <h1><a href="{{ context.url }}">{{ context.title }}</a></h1>
  {% if (context.excerpt !== "") %}
    {% include '../c-article-exceprt/view.njk' %}
  {% endif %}
  <div class="c-article-item__article-meta">
    {% if (context.dateline !== "") %}
      <span class="c-article-item__dateline">{{ context.dateline }}</span>
    {% endif %}
    {% if (context.byline !== "") %}
      {% include '../c-article-byline/view.njk' %}
    {% endif %}
    <div class="c-categories">
      <a href="" class="theme-{{context.agency | lower}}">#{{context.agency}}</a>
      <a href="">#news</a>
      <a href="">#workload</a>
    </div>
  </div>
</article>
