<article class="c-article-item js-article-item">
  <img src="{{ context.imgSrc }}" alt="{{ context.imgAlt }}">
  <h1><a href="{{ context.url }}">{{ context.title }}</a></h1>
  {% if (context.excerpt !== "") %}
    {% include '../c-article-exceprt/view.njk' %}
  {% endif %}
  {% if (context.dateline !== "") %}
    <span class="c-article-item__dateline">{{ context.dateline }}</span>
  {% endif %}
  {% if (context.byline !== "") %}
    <span class="c-article-item__byline">{{ context.byline }}</span>
  {% endif %}
</article>
