{% extends "../templates/layout.njk" %}

{% block content %}
    <section id="maincontent" class="u-wrapper l-main temp-about" role="main">
      <h1 class="o-title o-title--page">About HMCTS</h1>
      <article>
        <div class="l-page-top">
          <p>HM Courts &amp; Tribunals Services (HMCTS) is responsible for the admininstration of criminal, civil and family courts and tribunals in England and Wales. HMCTS is an executive agency, sponsored by the Ministry of Justice.</p>
        </div>
        <div>
          <ul>
            <li><a href="">HMCTS Board and Sub-Committees</a>
              <ul>
                  <li>
                    <a href="">Audit and Risk Assurance Committee</a>
                  </li>
                  <li>
                    <a href="">Board Secretariat</a>
                  </li>
                  <li>
                    <a href="">HMCTS Board</a>
                  </li>
                  <li>
                    <a href="">HMCTS Change Portfolio Board</a>
                  </li>
              </ul>
            </li>
            <li><a href="">Justice Matters</a></li>
            <li><a href="">Senior Management Team</a>
                <ul>
                    <li>
                      <a href="">Chief Executive</a>
                    </li>
                    <li>
                      <a href="">Senior Management Team members and biographies</a>
                    </li>
                    <li>
                      <a href="">Submitting papers</a>
                    </li>
                </ul>
            </li>
            <li>
              <a href="">HMCTS Structure</a>
              <ul>
                  <li>
                    <a href="">Change directorate</a>
                  </li>
                  <li>
                    <a href="">Communications</a>
                  </li>
                  <li>
                    <a href="">Continuous improvement</a>
                  </li>
                  <li>
                    <a href="">Courts & Tribunal Development directorate</a>
                  </li>
                  <li>
                    <a href="">Customer directorate</a>
                  </li>
                  <li>
                    <a href="">Human resource</a>
                  </li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
      <h1 class="o-title o-title--section">About Ministry of Justice</h1>
      <article>
        <div class="l-page-top">
          <p>HMCTS is an executive agency of the Ministry of Justice.</p>
        </div>
        <div>
          <ul>
            <li>
              <a href="">Organisation</a>
              <ul>
                  <li>
                    <a href="">Agencies and partners</a>
                  </li>
                  <li>
                    <a href="">Business groups</a>
                  </li>
                  <li>
                    <a href="">Departmental Board and committees</a>
                  </li>
              </ul>
            </li>
            <li>
              <a href="">Ministers and Parliament</a>
              <ul>
                  <li>
                    <a href="">Ministers</a>
                  </li>
                  <li>
                    <a href="">Parliament</a>
                  </li>
                  <li>
                    <a href="">Working with private offices</a>
                  </li>
              </ul>
            </li>
            <li><a href="">Delivering our strategy for the next 10 years</a></li>
            <li><a href="">Our values</a></li>
          </ul>
        </div>
      </article>
    </section>
{% endblock %}
