{% extends "../templates/layout.njk" %}

{% block content %}
    <section id="maincontent" class="u-wrapper l-main" role="main">
      {% include '../components/c-about-list/view.njk' %}
    </section>
{% endblock %}
