{% extends "../templates/layout.njk" %}

{% block content %}
  <section id="maincontent" class="u-wrapper l-main" role="main">
    {% include '../components/c-breadcrumbs/view.njk' %}
    {% include '../components/c-news-article/view.njk' %}
  </section>
{% endblock %}
