{% extends "../templates/layout.njk" %}
{% block content %}
    {# Load intro text #}
    {# set context = contentIntro 3}
    {# include "components/c-headed-text.nunjucks" #}
    {# Load login form #}
    {# set context = loginForm #}
    {# include "components/c-login-form.nunjucks" #}
    <p>Stuff</p>
{% endblock %}
