{% extends "../templates/layout.njk" %}
{% block content %}
    <div id="maincontent" class="u-wrapper l-main t-home">
        <!-- c-home-page-primary starts here -->
        <section class="c-home-page-primary l-primary" role="main">
            {% include '../components/c-news-widget/view.njk' %}
        </section>
        <!-- c-home-page-primary ends here -->
        <!-- c-home-page-secondary starts here -->
        <section class="c-home-page-secondary l-secondary" role="complementary">
            {% include '../components/c-my-moj/view.njk' %}
            {% include '../components/c-social-links/view.njk' %}
        </section>
        <!-- c-home-page-secondary ends here -->
  </div>
{% endblock %}
