{% extends "../templates/layout.njk" %}
{% block content %}
    <section id="maincontent" class="u-wrapper l-main t-home" role="main">
        <!-- c-home-page-primary starts here -->
        <section class="c-home-page-primary l-primary" role="main">
            {% include '../components/c-news-widget/view.njk' %}
            {% include '../components/c-twitter-feed/view.njk' %}
        </section>
        <!-- c-home-page-primary ends here -->
        <!-- c-home-page-secondary starts here -->
        <section class="c-home-page-secondary l-secondary" role="complementary">
            {% include '../components/c-polls/view.njk' %}
            {% include '../components/c-blog-feed/view.njk' %}
            {% include '../components/c-events-widget/view.njk' %}
        </section>
        <!-- c-home-page-secondary ends here -->
    </section>
{% endblock %}
