{% extends "../templates/layout.njk" %}
{% block content %}
    <section id="maincontent" class="u-wrapper l-main" role="main">
      <div class="l-page-top">
        {% include '../components/c-my-work/view.njk' %}        
        {% include '../components/c-quick-links/view.njk' %}   
      </div>
             
      </div>
      {% include '../components/c-common-resources/view.njk' %}        
      {% include '../components/c-further-resources/view.njk' %}        
    </section>
{% endblock %}
