<ul class="c-agency-link-list">
  <li class="highlight">
      <a href="http://link.com" title='This link will take you away from the MoJ intranet'>Magic link<span class='u-icon u-icon--link'></span></a>
  </li>
</ul>


