<time class="c-calendar-icon" datetime="{{ context.time }}">
  <h2 class="u-visually-hidden">Date:</h2>
  <span class="c-calendar-icon--dow">{{ context.dow }}</span>
  <span class="c-calendar-icon--dom"> {{ context.day }}</span>
  <span class="c-calendar-icon--my">{{ context.month }}, {{ context.year }}</span>
</time>
