// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-my-work {
  height: 100%;
  padding: $spacing;
  background: $light;
  column(2/3);
  margin-right: $spacing*3
  h1 {   
    font-size: $innerCore;
  }
  li {
    column(1/2, $cycle: 2)
    margin-bottom $spacing*1.5
  }
   a {
    font-weight bold
  }
}
