<section class="c-my-work">
  <h1 class="o-title o-title--section">My Work</h1>
  <ul>
    	{% for link in myWork %}
    		<li><a href="{{ link.url }}"> {{ link.title }}</a></li>
      {% endfor %}
  </ul>
</section>
