<section class="c-my-work">
{% if meta.agency === "HMCTS"%}
  <h1 class="o-title o-title--section">My Work</h1>
{% else  %}
  <h1 class="o-title o-title--section">Quick Links</h1>
{% endif %}
  <ul>
    	{% for link in myWork %}
        {% if(link.agencies == "all") or (link.agencies == agency.shortcode) %}
    		  <li><a {% if(link.external) %} rel="external" class="u-rel-external" {% endif %} href="{{ link.url }}"> {{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
  </ul>
</section>
