<section class="c-social-links">
    <h1 class="o-title o-title--section">Follow us</h1>
    <ul>
        {% for link in socialLinks %}
            {% if(link.agencies == "all") or (link.agencies.indexOf(agency.shortcode) != -1) %}
                <li><a href="{{ link.url }}"><span class="u-icon u-icon--{{ link.class }}"></span> {{ link.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

