<section class="c-social-links">
    <h1 class="o-title o-title--section">Follow us</h1>
    <ul>
        <li><a href="http://link.com"><span class="u-icon u-icon--laa"></span>Link title</a></li>
    </ul>
</section>

