<section class="c-news-widget">
  <h1 class="o-title o-title--section">Featured News</h1>
  <% include ../components/c-featured-news-list/view %>
  <h1 class="o-title o-title--section">News</h1>
  <% include ../components/c-news-list/view %>
  <a href="/newspage/" class="o-see-all-link">See all news</a>
</section>
