<section class="c-news-widget">
<h1 class="o-title o-title--section" style="clear:both">Wednesday's features</h1>
  {% include '../c-featured-news-list/view.njk' %}
  <h1 class="o-title o-title--section" style="clear:both">News from the last week</h1>
  {% include '../c-news-list/view.njk' %}
  <a href="/newspage/" class="o-see-all-link" style="float:right">See all news</a>
</section>