<section class="c-news-widget">
<h1 class="o-title o-title--section" style="clear:both">Today in HMCTS</h1>
  {% include '../c-featured-news-list/view.njk' %}
  <h1 class="o-title o-title--section" style="clear:both">Latest in News</h1>
  {% include '../c-news-list/view.njk' %}
  <a href="/newspage/" class="o-see-all-link" style="float:right">See all news</a>
  <h1 class="o-title o-title--section" style="clear:both">Latest in Community</h1>
  {% include '../c-guidance-list/view.njk' %}
  <a href="/newspage/" class="o-see-all-link" style="float:right">See all community</a>
</section>