// include the toolkit (a suite of variables, classes and mixins)
@require "../../globals/css/_toolkit"

.c-notify {
	clearfix()
	position: relative;
	display: table;
	font-size: $mantle;
	&__title {
		vertical-align: middle;
		display: table-cell;
		width: 25%;
		ff-title()
		padding: $spacing*3;
		&:before {
			float:left;
			use-icon("\ea0c");
			font-size: 6rem;
			margin-right: $spacing*1.5;
		}
	}
	&__copy {
		vertical-align: middle;
		padding: $spacing*2;
		padding-right: $spacing*4;
		display: table-cell;
		width: 75%;
		p {
			font-size: $outerCore;
		}
	}

	&__close {
		position absolute
		cursor: pointer;
		right: 0;
		top: 0
		font-size: $bodyCopy;
		padding: $spacing*.3 $spacing*.5;
		z-index: 1000
		&:hover {
			text-decoration underline
		}
	}

	&--error {
		background: #f00;
		color: lighten(#f00, 80%);
		& ^[-1]__title {
			background: darken(#f00, 10%);
		}
		&:before {
			vertical-align: middle;
		}
	}

	&--alert {
		background: orange;
		color: lighten(orange, 80%);
		& ^[-1]__title {
			background: darken(orange, 10%);
		}

		&:before {
			use-icon("\6c", $crust);
			vertical-align: middle;
		}
	}

	&--info {
		background: skyblue;
		color: lighten(skyblue, 80%);
		& ^[-1]__title {
			background: darken(skyblue, 20%);
		}

		&:before {
			use-icon("\6d", $crust);
			margin-bottom: $spacing*2;
			vertical-align: middle;
		}
	}
}
