<section class="c-notify c-notify--error">
	<h1 class="c-notify__title">This is an example of an alert title</h1>
	<div class="c-notify__copy">
		<p>Aliquip sit qui occaecat occaecat incididunt non proident ipsum magna nulla et adipisicing. Consectetur sit aliquip in elit dolor sit</p>
	</div>
	<span class="c-notify__close js-notify__close">[X] Dismiss</span>
</section>
