<!-- c-article-byline starts here -->
<section class="c-article-byline">
  <img class="c-article-byline__photo" src="https://www.euruni.edu/blog/wp-content/uploads/2015/07/Jon-Snow-4.jpg" alt="Name of Author">
  <span class="c-article-byline__intro"><a href="">{{ context.byline }}</a></span>
</section>
<!-- c-article-byline ends here -->
