<!-- c-article-byline starts here -->
<section class="c-article-byline">
  <img class="c-article-byline__photo" src="{{ context.byImg }}" alt="{{ context.byline }}">
  <span class="c-article-byline__intro"><a href="">{{ context.byline }}</a></span>
</section>
<!-- c-article-byline ends here -->
