<!-- c-article-byline starts here -->
<section class="c-article-interactions">
  <div class="c-article-interactions__likes">
    <span class="u-icon u-icon--thumbs-o-up"></span>
    {{ context.likes }}
  </div>
  <div class="c-article-interactions__comments">
    <span class="u-icon u-icon--chat_bubble_outline"></span>
    {{ context.comments }} comments
  </div>
</section>
<!-- c-article-byline ends here -->
