<!-- c-article-byline starts here -->
<section class="c-article-interactions">
  <div class="c-article-interactions__likes">
    {{ context.likes }}
  </div>
  <div class="c-article-interactions__comments">
    {{ context.comments }} comments
  </div>
</section>
<!-- c-article-byline ends here -->
