<header class="c-header-container js-header-container" role="banner">
  {% include '../c-logo-bar/view.njk' %}
  {% include '../c-main-nav-bar/view.njk' %}
  
      <!--[if lte IE 9]>
  <div class="u-message u-message--warning">
    You are using quite an old browser. Your web viewing experience would be greatly improved by updating to a modern browser <a href="http://browsehappy.com/">You can find one here.</a>
  </div>
  <![endif]-->

  <!--[if IE 6]>
  <div class="u-message u-message--error">
    Internet Explorer 6 is not supported. Please use a different browser. <a href="http://browsehappy.com/">You can find one here.</a>
  </div>
  <![endif]-->
</header>
