// There is a use-icon() mixin which will allow you to use the icons without a DOM element in _mixins.styl

@font-face {
  font-family: 'moji-clarity';
  src:  url('../fonts/moji-clarity.eot?109l8c');
  src:  url('../fonts/moji-clarity.eot?109l8c#iefix') format('embedded-opentype'),
    url('../fonts/moji-clarity.ttf?109l8c') format('truetype'),
    url('../fonts/moji-clarity.woff?109l8c') format('woff'),
    url('../fonts/moji-clarity.svg?109l8c#moji-clarity') format('svg');
  font-weight: normal;
  font-style: normal;
}

.u-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moji-clarity' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--chevron-left:before {
  content: "\f053";
}
.u-icon--chevron-right:before {
  content: "\f054";
}
.u-icon--chevron-up:before {
  content: "\f077";
}
.u-icon--chevron-down:before {
  content: "\f078";
}
.u-icon--thumbs-o-up:before {
  content: "\f087";
}
.u-icon--caret-left:before {
  content: "\f0d9";
}
.u-icon--caret-right:before {
  content: "\f0da";
}
.u-icon--sort-desc:before {
  content: "\f0dd";
}
.u-icon--sort-down:before {
  content: "\f0dd";
}
.u-icon--sort-asc:before {
  content: "\f0de";
}
.u-icon--sort-up:before {
  content: "\f0de";
}
.u-icon--angle-left:before {
  content: "\f104";
}
.u-icon--angle-right:before {
  content: "\f105";
}
.u-icon--angle-up:before {
  content: "\f106";
}
.u-icon--angle-down:before {
  content: "\f107";
}
.u-icon--mail-reply:before {
  content: "\f112";
}
.u-icon--reply:before {
  content: "\f112";
}
.u-icon--thumbs-up:before {
  content: "\f164";
}
.u-icon--share-alt:before {
  content: "\f1e0";
}
.u-icon--share-alt-square:before {
  content: "\f1e1";
}
.u-icon--linkedin:before {
  content: "\e902";
}
.u-icon--user-circle-o:before {
  content: "\f2be";
}
.u-icon--chat_bubble2:before {
  content: "\e0cb";
}
.u-icon--chat_bubble_outline:before {
  content: "\e0cc";
}
.u-icon--chat_bubble:before {
  content: "\e0ca";
}
.u-icon--quotes-left:before {
  content: "\e977";
}
.u-icon--quotes-right:before {
  content: "\e978";
}
.u-icon--spinner10:before {
  content: "\e983";
}
.u-icon--search:before {
  content: "\e986";
}
.u-icon--zoom-in:before {
  content: "\e987";
}
.u-icon--zoom-out:before {
  content: "\e988";
}
.u-icon--home:before {
  content: "\e901";
}
.u-icon--redo2:before {
  content: "\e968";
}
.u-icon--menu-down:before {
  content: "\e9bf";
}
.u-icon--menu-up:before {
  content: "\e9c0";
}
.u-icon--share2:before {
  content: "\ea82";
}
.u-icon--plus:before {
  content: "\ea0a";
}
.u-icon--minus:before {
  content: "\ea0b";
}
.u-icon--info:before {
  content: "\ea0c";
}
.u-icon--cancel-circle:before {
  content: "\ea0d";
}
.u-icon--link:before {
  content: "\e9cb";
}
.u-icon--cross:before {
  content: "\ea0f";
}
.u-icon--checkmark:before {
  content: "\ea10";
}
.u-icon--yammer:before {
  content: "\e91c";
}
.u-icon--twitter:before {
  content: "\e91d";
}
.u-icon--people-finder:before {
  content: "\e900";
}
.u-icon--court-and-tribunal-finder:before {
  content: "\e904";
}
.u-icon--travel-booking:before {
  content: "\e905";
}
.u-icon--sop:before {
  content: "\e906";
}
.u-icon--it-portal:before {
  content: "\e907";
}
.u-icon--jobs:before {
  content: "\e908";
}
.u-icon--civil-service-learning:before {
  content: "\e909";
}
.u-icon--moj-logo:before {
  content: "\e90a";
}
.u-icon--webchat:before {
  content: "\e90b";
}
.u-icon--pension:before {
  content: "\e90c";
}
.u-icon--form-finder:before {
  content: "\e90d";
}
.u-icon--room-booking:before {
  content: "\e90e";
}
.u-icon--provider-information:before {
  content: "\e90f";
}
.u-icon--laa-online-portal:before {
  content: "\e910";
}
.u-icon--laa-manual-civil:before {
  content: "\e911";
}
.u-icon--laa-manual-crime:before {
  content: "\e912";
}
.u-icon--public-site:before {
  content: "\e913";
}
.u-icon--means-assessment-administration-tool:before {
  content: "\e914";
}
.u-icon--etarmis:before {
  content: "\e915";
}
.u-icon--bright-ideas:before {
  content: "\e916";
}
.u-icon--mitrefinch:before {
  content: "\e917";
}
.u-icon--shield:before {
  content: "\e918";
}
.u-icon--jac:before {
  content: "\e919";
}
.u-icon--crown:before {
  content: "\e91a";
}
.u-icon--tpb:before {
  content: "\e91b";
}