<section class="c-featured-news-list">
  {% for article in featuredNewsArticles %}
    {% if(article.agencies == "all") or (article.agencies.indexOf(agency.shortcode) != -1) %}
      {% set context = article %}
      {% include '../c-article-item/view.njk' %}
    {% endif %}
  {% endfor %}
</section>
