<section class="c-featured-news-list">
  {% set context = article1 %}
  {% include '../c-article-item/view.njk' %}
  {% set context = article2 %}
  {% include '../c-article-item/view.njk' %}
</section>
